* {
    box-sizing: border-box;
}

body {
    background: white;
    margin: auto;
    transition: background .5s;
}

body > div {
    background: rgba(0 0 0 / .02);
    margin: auto;
    max-width: 1440px;
    padding: .5rem;
    transition: .5s;
}

a {
    color: black;
    text-decoration: none;
    transition: color .2s, transform .2s, background .5s;
    white-space: nowrap;
}

a, button, span {
    -webkit-tap-highlight-color: transparent;
}

a:hover {
    color: dodgerblue;
}

button, input, select {
    background: transparent;
    border: 1px solid gold;
    border-radius: .25rem;
    color: black;
    font-size: 1rem;
    height: 2.5rem;
    padding: .5rem;
    transition: background .5s, border .5s, box-shadow .2s;
}

button:hover {
    background: gold;
    cursor: pointer;
}

button:focus, input:focus, select:focus {
    border-color: black;
    box-shadow: 0 0 0 .25rem rgba(0 0 0 / .25);
    outline: 0;
    z-index: 1;
}

nav {
    backdrop-filter: blur(.25rem);
    background: rgba(0 0 0 / .02);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1440px;
    position: sticky;
    top: 0;
    transition: background .5s;
}

nav > a {
    height: 2.5rem;
    padding: .5rem;
}

nav > a:active {
    background: rgba(0 0 0 / .04);
}

nav > button {
    position: absolute;
    right: 0.5rem;
    top: 0.25rem;
}

nav > span {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'><path d='M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z'/></svg>");
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid gold;
    border-radius: 1.25rem;
    height: 2.5rem;
    position: absolute;
    right: 0.5rem;
    transition: .5s;
    width: 2.5rem;
}

nav > span:hover {
    background-color: gold;
    cursor: pointer;
}

.active {
    color: red;
}

#search {
    background: rgba(0 0 0 / .04);
    border-radius: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    margin: auto auto .5rem;
    max-width: 720px;
}

#search > input {
    border: 0;
    border-radius: 1.25rem;
    flex: auto;
}

#search > button {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'> <path d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/></svg>");
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 1.25rem;
    height: 2.5rem;
    width: 2.5rem;
}

.dropdown {

}

.dropdown > img {
    border-radius: 0.75rem;
    display: block;
    height: 1.5rem;
    margin: 0.5rem;
    width: 1.5rem;
}

.dropdown-menu {
    backdrop-filter: blur(4px);
    background: rgba(255 255 255 / .25);
    border-radius: .5rem;
    box-shadow: 0 0 8px .25rem rgba(0 0 0 / .08);
    display: grid;
    opacity: 0;
    padding: .5rem 0 0 .5rem;
    position: absolute;
    transition: .5s;
    visibility: hidden;
}

.dropdown-menu > span {
    border: 1px solid aqua;
    border-radius: 1.25rem;
    display: flex;
    height: 2.5rem;
    padding: 7px;
    margin: 0 .5rem .5rem 0;
    transition: background .5s;
    width: 9rem;
}

.dropdown-menu > span:hover {
    background: aqua;
    cursor: pointer;
}

.dropdown-menu > span > img {
    border-radius: .75rem;
    display: block;
    height: 1.5rem;
    width: 1.5rem;
}

.dropdown-menu > span > span {
    flex: auto;
    line-height: 1.5rem;
    text-align: center;
}

.dropdown:hover > .dropdown-menu {
    display: grid;
    flex-wrap: wrap;
    opacity: 1;
    visibility: visible;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 .5rem;
}

.input-group > * {
    border: 1px solid gold;
    border-radius: 0;
    margin-left: -1px;
    padding: .5rem;
    white-space: nowrap;
}

.input-group > input, .input-group > select {
    flex: auto;
}

.input-group > :first-child {
    border-radius: .25rem 0 0 .25rem;
}

.input-group > :last-child {
    border-radius: 0 .25rem .25rem 0;
}

.nav-site-bar {
    display: flex;
    flex-wrap: wrap;
}

.nav-site-bar > span {
    font-size: 1.25rem;
    font-weight: bold;
    margin: .5rem 0;
    width: 100%;
}

.nav-site-bar > a {
    background: rgba(0 0 0 / .04);
    border-radius: 1.25rem;
    display: flex;
    width: 10rem;
    height: 2.5rem;
    margin: .25rem;
    padding: .5rem;
}

.nav-site-bar > a:active {
    background: rgba(0 0 0 / .08);
    transform: scale(.9);
}


.nav-site-bar > a > img {
    border-radius: .75rem;
    width: 1.5rem;
    height: 1.5rem;
}

.nav-site-bar > a > span {
    flex: auto;
    line-height: 1.5rem;
    text-align: center;
    white-space: nowrap;
}

.dark {
    color: white;
}

.dark a {
    color: white;
}

.dark a:hover {
    color: dodgerblue;
}

.dark body {
    background: black;
}

.dark body > div {
    background: rgba(255 255 255 / .08);
}

.dark button, .dark input, .dark select {
    border-color: hotpink;
    color: white;
}

.dark button:hover {
    background: hotpink;
}

.dark button:focus, .dark input:focus, .dark select:focus {
    border-color: white;
    box-shadow: 0 0 0 .25rem rgba(255 255 255 / .25);
}

.dark nav {
    background: rgba(255 255 255 / .08);
}

.dark nav > a:active {
    background: rgba(255 255 255 / .12);
}

.dark nav > span {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' viewBox='0 0 16 16'> <path d='M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z'/></svg>");
    border-color: hotpink;
}

.dark nav > span:hover {
    background-color: hotpink;
}

.dark option {
    background: black;
}

.dark .active {
    color: red;
}

.dark #search {
    background: rgba(255 255 255 / .08);
}

.dark #search > button {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' viewBox='0 0 16 16'> <path d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/></svg>");
}

.dark .dropdown-menu {
    background: rgba(0 0 0 / .25);
    box-shadow: 0 0 8px .25rem rgba(255 255 255 / .08);
}

.dark .dropdown-menu > span {
    border: 1px solid indianred;
}

.dark .dropdown-menu > span:hover {
    background: indianred;
}

.dark .input-group > * {
    border-color: hotpink;
}

.dark .nav-site-bar > a {
    background: rgba(255 255 255 / .08);
}