* {
    box-sizing: border-box;
}

body {
    background: white;
    margin: auto;
    transition: background .5s;
}

.dark body {
    background: black;
}

a {
    color: black;
    text-decoration: none;
    transition: color .2s, background .5s;
    white-space: nowrap;
}

a:hover {
    color: dodgerblue;
}

.dark a {
    color: white;
}

nav {
    background: rgba(0, 0, 0, .04);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    position: sticky;
    top: 0;
}

nav > a {
    height: 2.5rem;
    padding: 0.5rem;
}

nav > a:active {
    background: rgba(0, 0, 0, .04);
}

.dark nav {
    background: rgba(30, 30, 30);
}

.dark nav > a {
    color: white;
}

body > div {
    background: antiquewhite;
    color: black;
    height: 2560px;
    margin: auto;
    padding: 0 0.5rem;
    transition: .5s;
}

@media (min-width: 1440px) {
    nav {
        width: 1440px;
    }

    body > div {
        background: cadetblue;
        color: white;
        width: 1440px;
    }
}

.active {
    color: red;
}

.nav {
    background: aqua;
    display: flex;
    flex-wrap: wrap;
}

.nav > div {
    width: 30rem;
    height: auto;
}