* {
    box-sizing: border-box;
}

body {
    background: white;
    margin: auto;
    transition: background .6s;
}

.dark body {
    background: black;
}

a {
    text-decoration: none;
}

nav {
    background: rgba(250, 250, 250);
    height: 1080px;
    margin: auto;
    padding: 0 0.5rem;
}

.dark nav {
    background: rgba(30, 30, 30);
}

nav > a {
    color: black;
}

.dark nav > a {
    color: white;
}

body > div {
    background: antiquewhite;
    color: black;
    margin: auto;
    padding: 0 0.5rem;
}

@media (min-width: 1440px) {
    nav {
        width: 1440px;
    }

    body > div {
        background: cadetblue;
        color: white;
        width: 1440px;
    }
}

.nav {
    background: aqua;
    display: flex;
    flex-wrap: wrap;
}

.nav > div {
    width: 30rem;
    height: auto;
}