div.a1
{
	width:800px;
	height:100px;
	background:red;
	animation:myfirst 15s infinite;
	-webkit-animation:myfirst 15s infinite; /* Safari and Chrome */
}

@keyframes myfirst
{
	0.0%   {background:red;}
	8.3%   {background:orange;}
	16.6%  {background:yellow;}
	24.9%  {background:green;}
	33.2%  {background:blue;}
	41.5%  {background:indigo;}
	49.8%  {background:violet;}
	58.1%  {background:indigo;}
	66.4%  {background:blue;}
	74.7%  {background:green;}
	83.0%  {background:yellow;}
	91.3%  {background:orange;}
	100%   {background:red;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
	0.0%   {background:red;}
	8.3%   {background:orange;}
	16.6%  {background:yellow;}
	24.9%  {background:green;}
	33.2%  {background:blue;}
	41.5%  {background:indigo;}
	49.8%  {background:violet;}
	58.1%  {background:indigo;}
	66.4%  {background:blue;}
	74.7%  {background:green;}
	83.0%  {background:yellow;}
	91.3%  {background:orange;}
	100%   {background:red;}
}

body {background:Azure;}
h1 {color:red;text-align:center;}
p {color:blue;}
a {text-decoration:none;}
a:link {color:blue}
a:visited {color:blue}
a:hover {color:green}
a:active {color:red}
table
{
    border-collapse:collapse;
}
table,th, td
{
    border: 1px solid black;
}
img.icon {width:25px;height:25px}
