body {
  background: White;
  transition: 1s;
}
body > div {
    color: #212529;
    background: #f8f9fa;
    transition: color, background 1s;
}
.nav-1 {
    color: Black;
    display: block;
    background: #f8f9fa;
    transition: 1s;
}
.nav_site {
    box-sizing: border-box;
    margin: 15px 0;
    background: inherit;
    transition: transform .4s;
    transition-timing-function: cubic-bezier(.33,0,.67,1);
}
.nav_site_title {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nav_site_bar {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.06rem;
}
.nav_site_bar span {
    color: rgba(0,0,0,.85);
    background: rgba(0,0,0,.04);
    border-radius: 18px;
    width: 124px;
    height: 36px;
    margin: 4px;
    padding: 6px;
    display: flex;
    align-items: center;
    transition: transform .2s;
}
.nav_site_bar span:active{
    transform: scale(.90)
}
.nav_site_bar img {
    width: 1.5em;
    height: 1.5em;
    background-size: 100% 100%;
    border-radius: 12px;
}
.nav_site_bar a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    transform: translateY();
    transition: .2s;
    white-space: nowrap;
}
.nav_site_bar a:link, .nav_site_bar a:visited {
    color: Black;
}
.nav_site_bar a:hover {
    color: DeepSkyBlue;
}
.nav_site_bar a:active {
    color: DodgerBlue;
}
.dark body {
    background-color: Black;
}
.dark body > div {
    color: #f8f9fa;
    background: #212529;
}
.dark .nav-1 {
    color: rgba(255, 255, 255, 0.85);
    background-color: #212529;
    transition: 1s;
}
.dark .nav_site_title {
    color: rgba(255, 255, 255, 0.85);
}
.dark .nav_site_bar > span {
    color: rgba(255, 255, 255, 0.85);
    background: rgba(255, 255, 255, 0.08);
}
.dark .nav_site_bar > span > span {
    color: rgba(255, 255, 255, 0.85);
}
.dark .nav_site_bar > span > a:link {
    color: White;
    text-decoration: none;
}
.dark .nav_site_bar > span > a:visited {
    color: White;
    text-decoration: none;
}
.dark .nav_site_bar > span > a:hover {
    color: DodgerBlue;
    text-decoration: none;
}
.dark .nav_site_bar > span > a:active {
    color: Blue;
    text-decoration: none;
}
