body {
  background: white;
  transition: 1s;
}
body > div {
    color: #212529;
    background: #f8f9fa;
    transition: background 1s;
}
.nav_site {
    margin: 1em 0;
}
.nav_site_title {
    font-size: 1.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nav_site_bar {
    display: flex;
    flex-wrap: wrap;
}
.nav_site_bar > span {
    color: rgba(0,0,0,.85);
    background: rgba(0,0,0,.04);
    border-radius: 18px;
    width: 124px;
    height: 36px;
    margin: 4px;
    padding: 6px;
    display: flex;
    align-items: center;
    transition: transform .2s;
}
.nav_site_bar > span:active{
    transform: scale(.90)
}
.nav_site_bar img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.75rem;
}
.nav_site_bar a {
    flex: auto;
    text-align: center;
    text-decoration: none;
    transition: .2s;
    white-space: nowrap;
}
.nav_site_bar a:link {
    color: black;
}
.nav_site_bar a:visited {
    color: black;
}
.nav_site_bar a:hover {
    color: deepskyblue;
}
.nav_site_bar a:active {
    color: dodgerblue;
}
.dark body {
    background-color: Black;
}
.dark body > div {
    color: #f8f9fa;
    background: #212529;
}
.dark .nav_site_title {
    color: white;
}
.dark .nav_site_bar > span {
    color: rgba(255, 255, 255, 0.85);
    background: rgba(255, 255, 255, 0.08);
}
.dark .nav_site_bar a:link {
    color: white;
}
.dark .nav_site_bar a:visited {
    color: white;
}
.dark .nav_site_bar a:hover {
    color: deepskyblue;
}
.dark .nav_site_bar a:active {
    color: dodgerblue;
}
.dark .input-group > input, .dark .input-group > label, .dark .input-group > select {
    background: #212529;
    border: 1px solid #0d6efd;
    color: white;
}
