.nav_site {
    box-sizing: border-box;
    margin: 0.81rem 0 0 0;
    background: #0d6efd;
    transition: transform .4s;
    transition-timing-function: cubic-bezier(.33,0,.67,1);
}
.nav_site_title {
    font-size: ;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nav_site_bar {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.06rem;
}
.nav_site_bar > span {
    box-sizing: border-box;
    color: rgba(0,0,0,.85);
    background: rgba(240,240,240,1);
    border-radius: 18px;
    width: 124px;
    height: 36px;
    margin: 4px;
    padding: 6px;
    display: flex;
    align-items: center;
    transition: transform .2s;
}
.nav_site_bar > span > img {
    width: 24px;
    height: 24px;
    background-size: 100% 100%;
    border-radius: 12px;
}
.nav_site_bar > span > a {
    flex: 1;
    text-align: center;
    width: ;
    height: ;
    font-size: ;
    line-height: ;
    color: rgba(0,0,0,.85);
    transform: translateY();
    transition: .2s;
    white-space: nowrap;
}
.nav_site_bar > span > a:link {
    color: Black;
    text-decoration: none;
}
.nav_site_bar > span > a:visited {
    color: Black;
    text-decoration: none;
}
.nav_site_bar > span > a:hover {
    color: DodgerBlue;
    text-decoration: none;
}
.nav_site_bar > span > a:active {
    color: Blue;
    text-decoration: none;
}
